{% extends "base.html" %}

{% block hero %}
<h1>いろいろと買っていきましょう！</h1>
<p>買ってけ買ってけ</p>
{% endblock hero %}

{% block main %}
<div class="row">
    <div class="small-12 large-12 columns">
        <div class="row">
            <div class="mediam-12 columns">
                <h1>買う</h1>
                <h3>買ってけ</h3>
                {% if message %}
                <h1 id="message">{{ message }}</h1>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="small-12 large-12 column">
                {% for item in items %}
                <div class="callout">
                    {% if SELF_FEE %}
                    <h3>{{item.product_name}} : ￥{{item.product_price_with_fee}}</h3>
                    {% else %} {% if item.seller == userdata %}
                    <h3>{{item.product_name}} : ￥{{item.product_price}}</h3>
                    {% else %}
                    <h3>{{item.product_name}} : ￥{{item.product_price_with_fee}}</h3>
                    {% endif %} {% endif %}
                    {#<p>Qt. {{item.product_Quantity}}</p>#}
                    <a href="{% url 'jihanki:buyconfirm' item.id %}" class="button" style="margin:0;margin-right:10px">買う</a>
                    {% if userdata == item.seller %}
                    <form action="{% url 'jihanki:deleteItem' item.id %}" method="POST" style="display:inline-block">
                        {% csrf_token %}
                        <input class="button alert" type="submit" value="削除" style="margin: 0">
                    </form>
                    {#<a href="{% url 'jihanki:deleteItem' item.id %}" class="button alert">削除</a>#}
                    {% endif %}
                </div>
                {% endfor %}
                <a class="button alert" style="margin-top: 50px" href="{% url 'jihanki:index' %}">戻る</a>
            </div>
        </div>
    </div>
</div>
{% endblock main %}