{% extends "base.html" %}

{% block hero %}
<h1>いろいろと買っていきましょう！</h1>
<p>買ってけ買ってけ</p>
{% endblock hero %}


{% block main %}

    {% if error %}
        <div class="error">
            <h2>{{error}}</h2>
        </div>
    {% endif %}
    {% if OK%}
    <h3>購入できました！</h3>
    <p>発泡スチロールから持っていってください！</p>
    <a class="button accept" href="{% url 'jihanki:index' %}">戻る</a>

    {% else %}
    <h3>これでOKですか？</h3>
    <form action="" method="POST">
        {% csrf_token %}
        {% if SELF_FEE %}
            <h3>{{item.product_name}} : ￥{{item.product_price_with_fee}}</h3>
        {% else %}
            {% if item.seller == userdata %}
                <h3>{{item.product_name}} : ￥{{item.product_price}}</h3>
            {% else %}
                <h3>{{item.product_name}} : ￥{{item.product_price_with_fee}}</h3>
            {% endif %}
        {% endif %}
        
        <input type="submit" class="button" value="買う">
    </form>
    {% endif %}
{% endblock main %}
