{% extends "base.html" %} {% block hero %}
<h1>金額管理</h1>
<p>開発者専用ページ</p>
{% endblock hero %} {% block main %}
<h3>D税 : ￥{{d_fee}}</h3>
<h3>未購入 : ￥{{item_money}}</h3>
{% for um in users_money %}
<p>
	{{um.username}} : {{um.money}}<br>
	<a class="button" href="{% url 'jihanki:paymentOut' um.pk %}">出金</a>
</p>

{% endfor %} {% endblock main %}