{% extends "base.html" %}

{% block hero %}
<h1>D組自販機へようこそ！</h1>
<p>つかえよつかえよ</p>
<a onclick="more_info()" class="button" href="#">もっと詳しく</a>
<a onclick="contact()" class="button success" href="#">お問い合わせ</a>
{% endblock hero %}


{% block main %}
<div class="row small-up-1 medium-up-2 large-up-3">
	<div class="tbpadding column column-block">
		<h3>売るためのページ</h3>
		<p>売れ売れ売れ売れ売れ売れ売れ売れ売れ</p>
		<a class="button" href="{% url 'jihanki:sellview' %}">売る</a><br>
	</div>

	<div class="tbpadding column column-block">
		<h3>買うためのページ</h3>
		<p>買え買え買え買え買え買え買え買え買え</p>
		<a class="button" href="{% url 'jihanki:buy' %}">買う</a><br>
	</div>

	<div class="tbpadding column column-block">
		<h3>今までのログ</h3>
		<p>ログログログログログログログログログ</p>
		<a class="button" href="{% url 'jihanki:log' %}">Log</a><br>
	</div>

	<div class="tbpadding column column-block">
		<h3>ニュース</h3>
		<p>ニュースニュースニュースニュースニュース</p>
		<a class="button" href="{% url 'jihanki:news' %}">ニュース</a><br>
	</div>
</div>
{% endblock main %}


