
{% extends "base.html" %}

{% block hero %}
<h1>ログ</h1>
<p>D組税　合計： <b>￥{{ d_fee }}</b></p>
{% if userdata.is_staff %}
<a class="button" href="{% url 'jihanki:dev' %}">金額管理</a>
{% endif %}
{% endblock hero %}

{% block main %}
<div class="row">
	<div class="small-12 large-12 columns">
		{% for log in logs %}
		{{log.deleted_date.day|default:""}}{% if log.deleted_date %}|{% endif %}{{log.deleted_date.time|default:""}}{% if log.deleted_date %} -> {% endif %}{{ log.product_name }} : ￥{{ log.product_price_with_fee }} <br>
		{% endfor %}
		<a class="button alert" style="margin-top: 50px" href="{% url 'jihanki:index' %}">戻る</a>
	</div>
</div>
{% endblock main %}
