{% extends "base.html" %}

{% block hero %}
<h1>ニュース</h1>
<p>最近のアップデートなど</p>
{% endblock hero %}

{% block main %}
	{% for news in News %}
	<div class="callout">
		<h3>{{news.title}}</h3>
		<p>{{news.message}}</p>
	</div>
	{% endfor %}
{% endblock main %}
