{% extends "base.html" %}

{% block hero %}
<h1>入金</h1>
<p>お金入れろや！</p>
{% endblock hero %}

{% block main %}
{% if OK %}
	<h2>入金が完了しました</h2>
	<p>貯金箱に金絶対いれとけよ</p>
	<a class="button" href="{% url 'jihanki:index' %}">戻る</a>
{% else %}
	<form action="" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<h3>入金する金額を入力してください</h3>
		<div>金額
			<input type="number" name="price" value="0">
		</div>
		<div class="metadata">
			<input type="number" name="itemlen" value="{{ itemlen }}">
			<input type="number" name="loglen" value="{{ loglen }}">
		</div>
		<div>
			<div class="float-left">
				<a class="button" href="{% url 'jihanki:index' %}">戻る</a>
			</div>
			<div class="float-right">
				<input type="submit" class="button success" value="入金">
			</div>
		</div>
	</form>
{% endif %}
{% endblock main %}