{% extends "base.html" %}

{% block hero %}
<h1>いろいろと売っていきましょう！</h1>
<p>売ってけ売ってけ</p>
{% endblock hero %}

{% block main %}
<div class="row">
    <div class="small-12 large-12 columns">
        {% if OK %}
        <h3>買えるものに追加されました！</h3>
        <p>みんなが分かる場所においてください。</p>
        <a class="button alert float-left" href="{% url 'jihanki:index' %}">戻る</a>
        {% else %}
        <div class="row">
            <div class="mediam-12 columns">
                <h1>売る</h1>
                <h3>売ってけ</h3>
            </div>
        </div>
        
        <form action="" method="POST">
            {% csrf_token %}
            <label>商品名
                <input type="text" placeholder="商品名" name="product" required>
            </label>

            <label>値段（自動的に税がかかります）
                <input type="number" placeholder="値段" name="price" required>
            </label>

            <label>個数
                <input type="number" placeholder="個数" name="qt" value="1" required>
            </label>

            <div class="metadata">
                <input type="number" name="itemlen" value="{{ itemlen }}">
                <input type="number" name="loglen" value="{{ loglen }}">
            </div>

            <a class="button float-left" href="{% url 'jihanki:index' %}">戻る</a>
            <input class="button float-right success" type="submit" value="売る">
        </form>
        {% endif %}
    </div>
    <div class="small-0 large-2 columns"></div>
</div>
{% endblock main %}
