{% extends "base.html" %}

{% block hero %}
    <h1>ログイン</h1>
{% endblock hero %}

{% block main %}
    {% if errors %}
    <div class="error">
        {% for error in errors %}
            {{error}} <br>
        {% endfor %}
    </div>
    {% endif %}
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>メールアドレス
            <input type="email" name="email">
        </div>
        <div>パスワード
            <input type="password" name="password">
        </div>
        <input class="button" type="submit" value="ログイン">
    </form>
{% endblock main %}
