{% extends "base.html" %}

{% block hero %}
    <h1>アカウント作成</h1>
{% endblock hero %}

{% block main %}
    {% if errors %}
    <div class="error">
        {% for error in errors %}
            {{error}} <br>
        {% endfor %}
    </div>
    {% endif %}
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>ユーザー名
            <input type="text" name="username">
        </div>
        <div>メールアドレス
            <input type="email" name="email">
        </div>
        <div>パスワード
            <input type="password" name="password">
        </div>
        <div>再入力
            <input type="password" name="passwordconfirm">
        </div>
        <input class="button" type="submit" value="送信">
    </form>
{% endblock main %}

