{% load staticfiles %}
<link rel="stylesheet" href="{% static 'foundation/css/foundation.min.css' %}">
<script src="{% static 'foundation/js/vendor/foundation.min.js' %}"></script>
<script src="{% static 'foundation/js/vendor/jquery.js' %}"></script>
<link rel="stylesheet" href="{% static 'music/style.css' %}">



<img src="{{ album.album_logo }}">

<h1>{{ album.album_title }}</h1>
<h3>{{ album.artist }}</h3>


{% for song in album.song_set.all %}
<input type="radio" id="song{{ forloop.counter }}" name="song" value="{{song.id}}">
<label for="song{{ forloop.counter }}">
	{{ song.song_title }}
	{% if song.is_favorite %}
	<!--<img src="http://motouta.com/wp-content/uploads/rating_over.png" />-->
	<div class="label">Favorite</div>
	{% endif %}
</label>
<br>
{% endfor %}