{% load staticfiles %}
<link rel="stylesheet" href="{% static 'foundation/css/foundation.min.css' %}">
<script src="{% static 'foundation/js/vendor/jquery.js' %}"></script>
<script src="{% static 'foundation/js/vendor/foundation.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'music/style.css' %}">



{% if all_albums %}
<div class="row">
    <div class="medium-4 medium-offset-4 column">
        <h3>All Albums</h3>
        <ul>
            {% for album in all_albums %}
            <li><a href="{% url 'music:detail' album.id %}">{{ album }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="medium-4 column"></div>
</div>
{% else %}
<h3>No Albums</h3>
{% endif %}

<a href="{% url 'music:album-add' %}">create</a>