<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% include "music/form-template.html" %}
    <div class="form-group">
        <button type="submit">Submit</button>
    </div>
</form>
