/* ***************************************************
GENERAL
*************************************************** */
.wrap{
	width: 90%;
	max-width: 1000px;
	margin: 0px auto;
}

.error{
	color: red;
}

.metadata{
	display: none;
}


/* ***************************************************
NAV
*************************************************** */
/*DESKTOP*/
.nav-desktop .top-bar, .nav-desktop .menu-text, .nav-desktop li{
	height: 80px;
	padding: 0;
}

.nav-desktop h3{
	padding: 0px;
	margin: 0px;
}

.nav-desktop .menu-text{
	line-height: 80px;
}

.nav-desktop .user-info{
	display: inline-block;
	padding: .7rem 1rem;
	line-height: 1;
}

.nav-desktop .user-dropdown li{
	height: auto;
}

.nav-desktop .user-dropdown hr{
	margin: 0px;
}

@media (max-width:749px){
	.nav-desktop{
		display: none;
	}
}

/*
.nav-desktop .top-bar, .nav-desktop .menu-text, .nav-desktop li{
	background-color: darkblue;
}

.nav-desktop .top-bar{
	color: lightgray;
}

.nav-desktop a{
	color: lightgray;
}
*/

/*MOBILE*/
.nav-mobile{
	background-color: #e6e6e6;
	color: black;
}

.nav-mobile-off-canvas li{
	display: block;
}

.nav-mobile-off-canvas .user-info{
	display: inline-block;
	padding: .7rem 1rem;
	line-height: 1;
}

.nav-mobile-off-canvas hr{
	margin: 0px;
}

.nav-mobile .title-bar-right a {
	margin-right: 15px;
}

@media (min-width :750px){
	.nav-mobile{
		display: none;
	}
}

/* ***************************************************
HERO
*************************************************** */
.hero{
		/*background: lightblue;*/
		background: lightgray;
		padding: 50px 0px;
}



/* ***************************************************
MAIN
*************************************************** */
.tbpadding{
	padding: 20px 0px;
}



/* ***************************************************
FOOTTER
*************************************************** */
footer{
	background: white;
	padding: 50px 0px;
}